.profile-card {
    margin-top: 50px;
    margin-left: 50px
}
.favourite-movies-container {
    margin-top: 20px
}
.update-button {
    background-color: rgb(21, 255, 0);
}
.delete-button {
    background-color: rgb(128, 0, 100)
}